html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
a {
    text-decoration: none;
}
ul,
li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

h1,
h2,
h3,
h4 {
    margin: 0px;
    padding: 0px;
}

header {
background: #b2fefa;
    background: #bdc3c7;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2c3e50, #bdc3c7);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: auto;
}
.container {
    width: 1200px;
    margin: 0px auto;
    padding: 0px 15px;

    outline: 2px solid purple;
}
/* header */

.header {
    padding: 20px 0px;
}
.promotion {
    
}

.contacts {
    color: #f68711;
}

.contacts:hover,
.contacts:focus {
    color: #20fe20;
}

