
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
}

/* main styles */
.main {
    display: flex;
    flex-direction: row-reverse;
    width: auto;
    margin: 0 auto;
    
}

/* main_contnent */
.main_content {
    background-color: white;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px 90px;
}

/* about styles */
.about {
    background-color: white;
    margin-bottom: 40px;
}

.about_position {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: -10px;
}

.about_name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 20px;
}

.about_discription {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    ;line-height: 24px;
    color: #595959;
    width: 450px;

}
/* about projects */

.projects {
    margin-bottom: 50px;
}
.title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}


.project_list {
    padding: 0;
    margin-left: 15px;
}

.project_item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.project_bracket {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.project_ref,
.porject_link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.project_ref {
    margin-left: 10px;
}

/* about work */
.work { background-color: white;
    
}
.position {
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #000000;
margin-bottom: 10px;
}

.company_name {
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #FB6D3A;

}

.period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 8px;
}

.period_line {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.work_list {
    padding: 0px;
    margin-left: 15px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-bottom: 15px;
}

.work_skills {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

/* about education */

.education_general {
    margin-top: 45px;
}
.education {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-top: 45px;
    margin-bottom: 10px;
}

.university {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin-bottom: 10px;
}

.degree {
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
color: #000000;
margin-bottom: 10px;
}

.photo {
    height: 370px;
    width: 300px;
    margin-bottom: 50px;
    margin-top: 40px;
    
}

/* sidebar styles */
.sidebar {
    background-color: #1E2939;
    padding-top: 5px;
    width: 300px;
}

.contacts {
    margin-left: 30px;
    margin-bottom: 50px;
}

.contact_information {
    color: white;
}

.skills {
    color: #F5F7FA;
    margin-left: 30px;
    margin-bottom: 50px;
}

.sidebar_title {
    color: #FB6D3A;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;

}
.contact_type {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}

.contact_link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #565E6A;
    margin-right: 3px;
    
}

.skills_list {
    padding: 0;
    margin-left: 15px;
}

.skills_text {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

}

.skills_item {
    color: #FB6D3A;

}